html {

color: #000080;
background: #ffffff;

}

a {

    color: #800080;

}

a:visited {
    color: #ff0000;
}

ul {
    -webkit-column-count: 2;
    font-size: 12px;
}

header {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

header span div {
    font-size: 26px;
}

header span {
    display: block;
}

#geico {
    font-size: 15px;
    text-align: center;
}
